.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.component{
  text-align: center;
  height:300px;
}

.header{
  background-color: red;
}

.table{
  background-color: blue;
}
.bottom{
  background-color: pink;
}

